<project name="BuildConfig">
  <!-- Get the root directory of the project by looking at the directory enclosing this file. -->
  <dirname property="rootdir" file="${ant.file.BuildConfig}"/>
  <!-- helpful stuff --> 
  <property environment="env"/>  
  <property name="SRC_DIR" location="src"/>
  <property name="JAVA_DIR" location="${SRC_DIR}/"/>
  <property name="BIN_DIR" location="target"/>
  <property name="LIB_DIR" location="lib"/>  
  <property name="CLASS_DIR" location="${BIN_DIR}/classes"/>
  <property name="JAR_DIR" location="${BIN_DIR}/"/>

  <property name="jasm.jar" value="lib/jasm-v1.0.1.jar"/>      
  <property name="jx86.jar" value="lib/jx86-v1.0.jar"/>
  <property name="junit.jar" value="lib/junit-4.12.jar"/>      
</project>
